@charset "UTF-8";

/* 回答はここに書いてね */
.content-wrapper {
  height: 500px;
  width: 500px;
  background-color: #ECF1F2;
  margin: 0 auto;
  position: relative;
}

.pink,
.blue,
.milk,
.orange,
.brown,
.snow,
.purple,
.sky,
.ocean {
  height: 100px;
  width: 100px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
}

/* 8 */
.pink {
  background-color: #de70cf;
  position: absolute;
  top: 120px;
  left: 120px;
  z-index: 8;
}

/* 5 */
.blue {
  background-color: #9fd6d2;
  position: absolute;
  top: 360px;
  left: 200px;
  z-index: 5;
}

/* 1 */
.milk {
  background-color: #ffefd3;
  position: absolute;
  top: 40px;
  left: 200px;
}

/* 1-small */
.milk::before {
  content: '';
  height: 20px;
  width: 20px;
  background-color: #ffefd3;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 9;
}

/* 7 */
.orange {
  background-color: #deae70;
  position: absolute;
  top: 200px;
  left: 40px;
  z-index: 7;
}

/* 4 */
.brown {
  background-color: #8b7a5e;
  position: absolute;
  top: 280px;
  left: 280px;
  z-index: 4;
}

/* 6 */
.snow {
  background-color: #fffee4;
  position:absolute;
  top: 280px;
  left: 120px;
  z-index: 6;
}

/* 2 */
.purple {
  background-color: #7084de;
  position: absolute;
  top: 120px;
  left: 280px;
  z-index: 2;
}

/* 3 */
.sky {
  background-color: #d0ecea;
  position: absolute;
  top: 200px;
  left: 360px;
  z-index: 3;
}

/* 9 */
.ocean {
  background-color: #2b69a3;
  position: fixed;
  top: 10px;
  left: 10px;
}
/* 回答はここに書いてね */
