@charset "UTF-8";

/* 回答はここに書いてね */
.content-wrapper {
  display: table;
}

.content-box {
  display: table-cell;
}

.left-content {
  text-align: center;
}

.content-text {
  /* inline-blockにしてwidth指定 */
  display: inline-block;
  width: 90px;
  padding: 10px 0 10px 0;
  background-color: #e6f2ff;
}

.right-text {
  display: block;
  margin: 0 auto;
  text-align: center;
}
/* -------------------------------------------- */

.middle-content-upper {
  text-align: center;
  display: table;
}

.text {
  display: inline;
  padding: 10px;
  background-color: #fff;
}

.upper-text {
  display: table-cell;
  vertical-align: middle;
}

.middle-content-lower {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* -------------------------------------------- */

.left-box {
  position: relative;
}

.fixed-box {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.right-box {
  position: relative;
}

.variable-box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

/* 回答はここに書いてね */
